body{
    color: black;
}

.container, p{
    max-width:1200px;
    padding-left:40px;
}

h1, h2{
    padding-left: 20px;
}

nav.navbar.navbar-default {
    max-width:1300px;
    margin-bottom: 0;
  }

.list{
    padding-left:60px;
}
  
.navbar{
    background-color: green;
    color:white;
}

.title {
    padding-left: 20px;
    font-size: 30px;
    list-style-type: none;
}

.hideBullet{
    list-style-type: none;
}

.box{
    border-color: black;
    border-style: double;
    margin-left: 20px;

}

.frame{
    border-color: navy;
    border-style:solid;
    max-width: 305px;;
}

.artframe{
    border-color: navy;
    border-style:solid;
    max-width: 305px;;
}
#profilePic { 
    border: 5px solid Navy;
    float: left;
    padding: 0px;
    margin-left: 20px;
    margin-right:10px;
    /* margin: 27px; */
    margin-bottom: 10px;
    height: 200px;
}

.text{
    padding-right: 40px;
    margin-right: 20px;
}